{%extends 'flatpages\default.html'%}
{% block content %}
    <h1>Ours Contacts</h1>
    <i>+7(999)-888-77-77 </i>
    <br><i>+7(666)-555-88-22 </i>
    <br><i>+7(880)-555-35-35 </i>
    <p style="font-size: 1.5em;"><strong>&nbsp;</strong></p>
<p style="font-size: 1.5em; text-align: left;">Social network</p>
<p style="font-size: 1.5em; text-align: left;">Telegram @maygdan</p>
<p style="font-size: 1.5em; text-align: left;">VK @maygdan</p>
<p style="font-size: 1.5em; text-align: left;">Twitter @maygdan</p>
<p style="font-size: 1.5em; text-align: left;">Facebook @maygdan</p>
<p style="font-size: 1.5em; text-align: left;">&nbsp;</p>
<p>&nbsp;</p>
{% endblock content %}
